<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6024SM1qiMRzOxA72UrIP1UjDh7IUdSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>825357754795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transmaaDash</string>
	<key>PROJECT_ID</key>
	<string>logisticss-1ef6c</string>
	<key>STORAGE_BUCKET</key>
	<string>logisticss-1ef6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825357754795:ios:1f29e243356e8b8782b2ee</string>
</dict>
</plist>